body{
    font-family: 'Montserrat' , sans-serif;
    font-weight: bolder;
}

:root{
    /* Creo un color llamado --color-1eso */
    --color-Historia: #F9E79F;
    /* Creo un color llamado --color-2eso */
    --color-Mate: #A9DFBF;
    --color-Fyq:  #fc8e77 ;
    --color-Biologia:  #fcd677;
    --color-Educacionfis:  #cefc77 ;
    --color-Infor:  #00ff0d ;
    --color-Valores:  #77fcea ;
    --color-Filosofia:  #b4fded ;
    --color-Inglish: #a4caf3 ;
    --color-Caste:  #fc77da ;
    --color-Valen:  #f73939 ;
    --color-Tuto:  #ffbdbd ;
    --color-horas: #00ffd9;
    --color-Pati: #bf76c9;
    --color-Arriba: #00faa7;
    --color-Top: #fbff00;
}

.nomenclatura-Caste{
    /* Utilizo el color que he creado antes (--color-1eso) */
    background-color: var(--color-Caste);
    width: 50px;
}

.nomenclatura-Valen{
    /* Utilizo el color que he creado antes (--color-2eso) */
    background-color: var(--color-Valen);
    width: 50px;
}
.nomenclatura-Historia{
    /* Utilizo el color que he creado antes (--color-1eso) */
    background-color: var(--color-Historia);
    width: 50px;
}
.nomenclatura-Inglish{
    /* Utilizo el color que he creado antes (--color-1eso) */
    background-color: var(--color-Inglish);
    width: 50px;
}
.nomenclatura-Valores{
    /* Utilizo el color que he creado antes (--color-1eso) */
    background-color: var(--color-Valores);
    width: 50px;
}
.nomenclatura-Biologia{
    /* Utilizo el color que he creado antes (--color-1eso) */
    background-color: var(--color-Biologia);
    width: 50px;
}
.nomenclatura-Fyq{
    /* Utilizo el color que he creado antes (--color-1eso) */
    background-color: var(--color-Fyq);
    width: 50px;
}
.nomenclatura-Filosofia{
    /* Utilizo el color que he creado antes (--color-1eso) */
    background-color: var(--color-Filosofia);
    width: 50px;
}
.nomenclatura-Infor{
    /* Utilizo el color que he creado antes (--color-1eso) */
    background-color: var(--color-Infor);
    width: 50px;
}
.nomenclatura-Educacionfis{
    /* Utilizo el color que he creado antes (--color-1eso) */
    background-color: var(--color-Educacionfis);
    width: 50px;
}
.nomenclatura-Mate{
    /* Utilizo el color que he creado antes (--color-1eso) */
    background-color: var(--color-Mate);
    width: 50px;
}
.nomenclatura-Tuto{
    /* Utilizo el color que he creado antes (--color-1eso) */
    background-color: var(--color-Tuto);
    width: 50px;
}

.horas{
    background-color: var(--color-horas);
}
.Historia{
    background-color: var(--color-Historia);   
}
.Mate{
    background-color: var(--color-Mate);
}
.Caste{
    background-color: var(--color-Caste);
}
.Biologia{
    background-color: var(--color-Biologia);
}
.Filo{
    background-color: var(--color-Filosofia);
}
.Inglish{
    background-color: var(--color-Inglish);
}
.Valen{
    background-color: var(--color-Valen);
}
.Info{
    background-color: var(--color-Infor);
}
.Fyq{
    background-color: var(--color-Fyq);
}
.Educacionfis{
    background-color: var(--color-Educacionfis);
}
.Tuto{
    background-color: var(--color-Tuto);
}
.Valores{
    background-color: var(--color-Valores);
}
.Pati{
    background-color: var(--color-Pati);
}
.Arriba{
    background-color: var(--color-Arriba);
}
.Top{
    background-color: var(--color-Top);
}


.tabla-horario{
    /* Me sirve para indicar que los bordes de las celdas no deben estar separados */
    border-collapse: collapse;
    
    margin: 30px auto;
}

.tabla-horario td, .tabla-horario th{
    /* Especifico el borde de las celdas, para la tabla con clase "tabla-horario" */
    border: 1px solid black;
    padding: 5px;
}
.tabla-color{
    margin: 30px auto;
    
}
h1{
    margin:30px auto;
    text-align: center;
}